<div class="container">
  <div class="row">
    <div class="jumbotron text-left border bg-warning">
      <h3 class="p-3">{{nameShopping}} - List of products</h3>
    </div>
  </div>

  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-9 my-4">
          {{#if products}}
            <div class="row w-100">
              {{#each products}}
                <div class="col-3 my-4">
                  <div class="text-center">
                    <h5 class="h5">{{title}}</h5>

                    <div class="col">
                      <div>
                        <img
                          class="thumb img-thumbnail"
                          src="{{thumbnail}}"
                          alt="{{title}}"
                        />
                      </div>
                      <div>
                        <ul class="list-group list-group-flush">
                          <li
                            class="list-group-item list-group-item-action"
                          ><strong>Description:</strong><br />
                            {{description}}</li>
                          <li class="list-group-item list-group-item-action">
                            {{category}}</li>
                          <li
                            class="list-group-item list-group-item-action"
                          ><strong>Code:</strong>
                            #{{code}}</li>
                          <li
                            class="list-group-item list-group-item-action"
                          ><strong>Price:</strong> ${{price}}</li>
                          <li class="list-group-item list-group-item-action">
                            {{stock}}
                            unidades</li>
                        </ul>
                      </div>
                      <div>
                        <input
                          id={{id}}
                          class="btn btn-danger my-3 btnDelete"
                          type="button"
                          value="X"
                        />
                      </div>
                    </div>
                  </div></div>
              {{/each}}
            </div>
          {{else}}
            <div class="row w-100 my-4">
              <p>Not products found 🤷‍♂️</p>
            </div>
          {{/if}}
        </div>

        <div class="col-3">
          <div class="row">
            <div class="container mx-auto my-5">
              <form
                id="addProduct"
                action="/api/products"
                method="POST"
                enctype="multipart/form-data"
              >
                <fieldset>
                  <legend class="bg-dark text-white p-2 text-center">Add a
                    product</legend>
                  <div class="form-group">
                    <label for="product_title">Product title</label>
                    <input
                      type="text"
                      class="form-control"
                      id="product_title"
                      placeholder="Title"
                      autofocus
                      required
                    />
                  </div>

                  <div class="form-group">
                    <label for="product_code">Product code</label>
                    <input
                      type="number"
                      name="code"
                      class="form-control"
                      id="product_code"
                      placeholder="Code"
                      autofocus
                      required
                    />
                  </div>
                  <div class="form-group">
                    <label for="product_code">Product category</label>
                    <select
                      class="form-select"
                      name="category"
                      id="product_category"
                    >
                      <option value="Galletitas">Galletitas</option>
                      <option value="Gaseosas">Gaseosas</option>
                      <option value="Bebidas con alcohol">Bebidas c/alcohol</option>
                      <option value="Bebidas sin alcohol">Bebidas s/alcohol</option>
                      <option value="otro" selected>Otro</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="product_price">Product price</label>
                    <input
                      type="number"
                      name="price"
                      class="form-control"
                      id="product_price"
                      placeholder="Price"
                      autofocus
                      required
                    />
                  </div>
                  <div class="form-group">
                    <label for="product_stock">Product stock</label>
                    <input
                      type="number"
                      name="stock"
                      class="form-control"
                      id="product_stock"
                      placeholder="Stock"
                      autofocus
                      required
                    />
                    <div>
                      <div class="form-group">
                        <label for="product_thumb">Thumbnail:</label>
                        <input
                          type="file"
                          name="uploadedFile"
                          class="form-control"
                          form="addProduct"
                          id="product_thumbnail"
                          autofocus
                        />
                      </div>
                      <div class="form-group">
                        <label for="product_description">Description:</label>
                        <textarea
                          name="description"
                          class="form-control"
                          id="product_description"
                          cols="30"
                          rows="5"
                          placeholder="Description"
                          autofocus
                          required
                        ></textarea>

                      </div>
                      <div class="form-group my-3 text-center">
                        <input
                          class="btn btn-dark w-100 font-weight-bold"
                          type="submit"
                          value="+ product"
                        />
                      </div>

                    </div>
                  </div>
                </fieldset>

              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>